{% extends "master.html" %}
{% load static %}

{% block main_content %}


<div class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col-9 logo">
            <a href="/index"><img class="logosize" alt="diabetes logo" src="{% static 'images/heart_diabetes.png' %}"></a>
        </div>


    </div>

    <h1 style="margin-top: 80px; text-align: center">Email sent successfully</h1>
<h2 style="text-align: center">Please click the icon to get back to the main page.</h2>

</div>


{% endblock %}