{% extends "master.html" %}
{% load static %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-9 logo">
            <a href="/index"><img class="logosize" alt="diabetes logo" src="{% static 'images/heart_diabetes.png' %}"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="set_new_password_1" class="row justify-content-center">
                <h1>Password Reset Form</h1>
            </div>
            <div id="set_new_password_2" class="row justify-content-center">
                <h6>
                    Please enter your new password so we can verify.
                </h6>
            </div>
            <div id="change_password_success" class="row justify-content-center reset_password_success">
                <h1>Password reset complete</h1>
                <h6>
                    Your Password has been set. You may go ahead and login
                </h6>
            </div>
            <br />
            <div class="text-center" id="login_link" style="display: none">
                <a href="{% url 'login' %}">Login</a>
            </div>
            <br>
            <div id="set_new_password_3" class="row justify-content-center">
                <form id="newpassword">
                    <div class="form-group">
                        <label for="new-password" class="col-form-label">New password</label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" id="password_tooltip" data-toggle="tooltip" data-placement="right" data-html="true" title="- between 8 to 15 digits<br>- at least one uppercase letter<br>- at least one lowercase letter<br>- at least one numeric digit<br>- at least one special character">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                        <input type="password" class="form-control" id="new-password">
                        <span class="error_form" id="password_error" style="color: red"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm-new-password" class="col-form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="confirm-new-password">
                        <span class="error_form" id="confirm_password_error" style="color: red"></span>
                        <br id="confirm_password_error_break" style="display: none">
                    </div>
                </form>
            </div>
            <div id="set_new_password_4" class="row justify-content-center">
                <span class="error_form" id="not_reset" style="color: red"></span>
                <br id="reset_error_break" style="display: none">
            </div>
            <br>
            <div id="set_new_password_5" class="row justify-content-center">
                <button type="button" class='btn btn-primary btn-lg' onclick="set_new_password()">Reset Password</button>
            </div>
            <div class="row justify-content-center reset_password_success">
                <a href="{% url 'index' %}">Return to home page</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/reset_password.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validate_registration.js' %}"></script>

{% endblock %}