{% extends "master.html" %}
{% load static %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-9 logo">
            <a href="/index"><img class="logosize" alt="diabetes logo" src="{% static 'images/heart_diabetes.png' %}"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="reset_message" class="row justify-content-center">
                <h1>Forgot your password?</h1>
                <p>
                    Please enter the email address you used to register
                    with us and we will send you a link to reset your password.
                </p>
            </div>
            <div id="send_email_successful" class="row send_email_successful">
                <h1>Password reset email sent!</h1>
                <h5>We’ve emailed you instructions for setting your new password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
                <h6>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
            </div>
            <br>
            <div id="email_form" class="row justify-content-center form-inline">
                <label class="form-label">Email address:</label>
                &nbsp;&nbsp;&nbsp;
                <input type="email" name="email" id="address" class="form-control">
                &nbsp;
                <button type="button" onclick="send_reset_password_mail()" id="mail-link" class="btn btn-primary send_email">Send e-mail</button>
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
                <a href="{% url 'index' %}">Return to home page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/reset_password.js' %}"></script>
{% endblock %}